body {
    text-align: center;
}

h1 {
  font-family: Verdana;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  font-size: 50px;
  transform-origin: center;
  
 
  animation: rotarContinuo 2s linear infinite, zoomComico 1.5s ease-in-out infinite;
}


@keyframes rotarContinuo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes zoomComico {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.7;
  }
}

.pez {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

.pez {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

/* Animaciones de movimiento */
.animar-pez1 {
  top: 50%;
  animation: moverPez1 10s linear infinite;
}

.animar-pez2 {
  top: 80%;
  animation: moverPez2 15s linear infinite;
}

/* Pez 1 */
@keyframes moverPez1 {
  0% {
    left: -100px;
    transform: scaleX(-1); /* mirando a la derecha */
  }
  49% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(-1); /* gira y mira a la izquierda */
  }
  100% {
    left: calc(100% + 100px);
    transform: scaleX(-1);
  }
}

/* Pez 2 */
@keyframes moverPez2 {
  0% {
    left: calc(100% + 100px);
    transform: scaleX(1); /* mirando a la izquierda */
  }
  49% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1); /* gira y mira a la derecha */
  }
  100% {
    left: -100px;
    transform: scaleX(1);
  }
}

/* Contenedor general */
#anuncios-container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;
}

/* Cada anuncio */
.anuncio {
  position: absolute;
  width: 500px;
  pointer-events: auto;
  animation: aparecer 0.5s ease-out;
}

/* Imagen del anuncio */
.anuncio img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  display: block;
}

/* Botón de cierre */
.anuncio button {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-weight: bold;
  cursor: pointer;
}

/* Animación de aparición */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animación de cierre */
.anuncio.cerrar {
  animation: desaparecer 0.4s forwards;
}

@keyframes desaparecer {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
